form
{
	text-align: left;
}


input[type=submit], input[type=email]:focus, input[type=text]:focus, input[type=password]:focus
{
    outline: 0;
}

input[type=submit]
{
    border: solid 0px white;
    border-radius: 10px;
    padding: 8px 15px;
    
    background-color: #38a1ff;
    color: white;
    
    font-family: OpenSans;
    font-size: 14px;
    
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

input[type=submit]:hover
{
    background-color: #7abfff;
    /*padding: 8px 20px;*/
}

input[type=submit]:active
{
    background-color: #0073db;
    
}

input[type=email], input[type=text], input[type=password]
{
    border: solid 1px #60b2ff;
    border-radius: 10px;
    padding: 2px 10px;
    
    background-color: #eaf6ff;
    
    font-family: OpenSans;
    font-size: 14px;
    
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    
    width: 130px;
}

input[type=email]:invalid, input[type=text]:invalid, input[type=password]:invalid
{
    border: solid 1px #ff6060;
    background-color: #ffeaea;
}

input[type=email]:focus, input[type=text]:focus, input[type=password]:focus
{
    width: 200px;
    -moz-box-shadow: 0 0 3px #d3d7cf;
	-webkit-box-shadow: 0 0 3px #d3d7cf;
	box-shadow: 0px 0px 3px #d3d7cf;
}

input
{
    margin-bottom: 10px;
}

.formlabel
{
    font-family: OpenSans;
    font-size: 14px;
    margin-right: 10px;
}

.formlabelerror
{
    font-family: OpenSans;
    font-size: 12px;
    margin-left: 10px;
    color: red;
}

.formlabelsuccess
{
    font-family: OpenSans;
    font-size: 12px;
    margin-left: 10px;
    color: green;
}