body
{
    text-align: center;
}

div.tabcontainer
{
    margin-left: 25%;
    min-width: 500px;
    background-color: #c1e1ff;
    border-radius: 5px;
    border: 1px solid #a5d3ff;
    margin-top: 20px;
    width: 50%;
    
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

div.tab 
{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button 
{
    display: inline-block;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 8px;
    transition: 0.3s;
    width: 80px;
}

/* Change background color of buttons on hover */
div.tab button:hover 
{
    background-color: #ddd;
}

/* Remove native browser focus style  */
div.tab button:focus 
{
    outline: 0;
}

/* Create an active/current tablink class */
div.tab button.active
{
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent
{
    display: none;
    padding: 6px 12px;
    border-top: none;
    -webkit-animation: fadeEffect 0.8s;
    animation: fadeEffect 0.8s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


.button
{
    border: solid 0px white;
    border-radius: 10px;
    padding: 8px 15px;
    
    background-color: #38a1ff;
    color: white;
    
    font-family: OpenSans;
    font-size: 14px;
    
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.button:focus
{
    outline: 0;
}

.button:hover
{
    background-color: #7abfff;
    /*padding: 8px 20px;*/
}

.button:active
{
    background-color: #0073db;
    
}