.h
{
    margin: 40px 0px 0px 20px;
    width: 500px;
    color: black;
    font-family: OpenSans;
    font-size: 30px;
    
}

.p
{
    text-align: justify;
    margin: 10px 0 0px 20px;
    width: 500px;
    color: gray;
    font-family: OpenSans;
}

.right
{
    text-align: right;
    margin-left: 10%;
}

.logo
{
    margin-top: 40px;
    text-align: center;
}

.title
{
    text-align: center;
    color: black;
    font-family: OpenSans;
    font-size: 30px;
}

.desc
{
    text-align-last: center;
    color: gray;
    font-family: OpenSans;
    margin: -10px 30px 0px 30px;
}


#map
{
	display: inline-block;
	text-align: center;
	position:relative; 
	width: 400px; 
	height: 400px; 
	margin-top: 30px;
	margin-bottom: 20px;
	border-radius: 10px;
}
