@font-face {
font-family: OpenSans;
src:
    local('Open Sans'),
    local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0087ff;
    text-align: center;
    height: 40px;
    margin: -8px -8px;
}

.navli {
    display: inline-block;
    vertical-align: top;
    height: 40px;
}

.navlia {
    vertical-align: middle;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    height: 40px;
    font-family: OpenSans;
}

.imga {
    display: block;
    height: 40px;
    padding: 6px 8px;
}

li a:hover:not(.active) {
    background-color: #59b1ff;
}

li b:hover:not(.active) {
    background-color: #59b1ff;
}

.active {
    background-color: #004f96;
}